// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  font-weight: 40;
  font-family: 'Lato';
  color: #000;
}

#container {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.content {
  text-align: center;
  display: inline-block;

  .title {
    font-size: 60px;
    font-weight: bold;
  }

  &>p {
    color: #3f3f3f;
  }
}

.datamaps-subunits {
  margin-top: 3rem;
}

.hoverinfo {
  font-family: 'Lato';
  font-size: 12px;
  color: #ffffff!important;
  background-color: #9f9f9f!important;
}